<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="signup.css">
</head>
<body>
    <div class="form-container">
        <h1>SIGNUP PAGE</h1>
        <div class="form-group">
            <p>User Name:</p>
            <input type="text" />
        </div>
        <div class="form-group">
            <p>Password:</p>
            <input type="password" />
        </div>
        <video class="background-video" autoplay muted loop>
            <source src="signup.mp4" type="video/mp4">
        </video>
        <div>
            <a href="predict.html">
            <button id="myfunction">Confirm</button>
            </a>

        </div>
    </div>
</body>
</html>